[run]
source = unicampi
include = unicampi*
branch = True

[report]
exclude_lines =
    no cover
    break
    pass
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    */tests/*
    */python?.?/*
    */site-packages/nose/*
