env
**__pycache__
# For now, i don't thing we should commit our migrations and bd
db.sqlite3
config.json
dacParser/migrations/*
!dacParser/migrations/__init__.py
gda/migrations/*
!gda/migrations/__init__.py
stalkeador/migrations/*
!stalkeador/migrations/__init__.py
