{% extends "stalkeador/header.html" %}

{% block content %}

    {% if token %}
        {% if not token.used %}
            <h3 class='text-center'> {{ offering.subject.code }} -  {{ offering.offering_id }}</h3>
            <h4 class='align-center'><b>Professor:</b> {{ offering.teacher }}</h4>
            <h4 class='align-center'><b>Você:</b> {{ token.student }}</h4>
        {% else %}
            <h4 class='text-center'>
                Token já utilizado
            </h4>
        {% endif %}
    {% else %}
        <h4 class='text-center'>
            Não é uma página valida
        </h4>
        <h5 class='align-left'>
            Se você acredita que está vendo essa página sem motivos, por favor entre em contato com o CACo
        </h5>
    {% endif %}

    <br>
    <h2 class='text-center'>Questionário</h2>

    {% if questions %}
    <form method='POST'>
        {% csrf_token %}

        {% for question in questions %}
        <div class="form-group">
            <label for="question.pk">{{ question.text }}</label>
                {% if question.typ == 'T' %}
                    <textarea class="form-control" rows="4" name="{{ question.pk }}" placeholder="{{ question.helper }}" ></textarea>
                {% elif question.typ == 'N' %}
                    <input class="form-control" name="{{ question.pk }}" type="number">
                    {% if question.helper %}
                        <small id="emailHelp" class="form-text text-muted">
                            {{question.helper}}
                        </small>
                    {% endif %}
                {% elif question.typ == 'O' %}
                    <select class="form-control" name="{{ question.pk }}">
                        {% for choice in question.choices.all %}
                            <option value="{{ choice.id }}">
                                {{ choice.text }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if question.helper %}
                        <small id="emailHelp" class="form-text text-muted">
                            {{question.helper}}
                        </small>
                    {% endif %}
                {% endif %}
        </div>
        {% endfor %}

        <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
        </div>
    </form>
    {% endif %}

{% endblock %}
