{% extends "stalkeador/header.html" %}

{% block content %}
<div class='row column'>
    <h3 class="text-center"> {{ discipline }} </h3>
    <table>
        <caption>Informações da Disciplina</caption>
        <thead>
            <tr>
                <th width="150"></th>
                <th width="150"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Nome
                </td>
                <td>
                    {{ discipline.name }}
                </td>
            </tr>
            <tr>
                <td>
                    Código - Turma
                </td>
                <td>
                    {{ discipline.code }} - {{ discipline.classes }}
                </td>
            </tr>
            <tr>
                <td>
                    Professor
                </td>
                <td>
                    {{ discipline.teacher }}
                </td>
            </tr>
            <tr>
                <td>
                    Alunos de Vagas
                </td>
                <td>
                    {{ discipline.registered }} de {{ discipline.vacancies }}
                </td>
            </tr>
            <tr>
                <td>
                    Alunos
                </td>
                <td>
                    <ul class="vertical menu">
                        {% for student in discipline.students.all %}
                            <a href="{{student.url}}"><li>{{ student }}</li></a>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
