{% extends "stalkeador/header.html" %}

{% block content %}
    <div class="row column">
        {% if disciplines %}
        <h3 class="text-center"> Disciplinas </h3>
        {% endif %}
        {% for discipline in disciplines %}
            <a href="{{ discipline.url }}">
                <div class="callout small">
                    {{ discipline }}
                </div>
            </a>
        {% endfor %}
        {% if students %}
        <h3 class="text-center"> Alunos </h3>
        {% endif %}
        {% for student in students %}
            <a href="{{ student.url }}">
                <div class="callout small">
                    {{ student }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
