{% extends "stalkeador/header.html" %}

{% block content %}
    {% if student %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center"> {{ student.name }} </h3>
                <caption>Informações do Aluno</caption>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            RA
                        </td>
                        <td>
                            {{ student.ra }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Curso
                        </td>
                        <td>
                            {{ student.course }} {{ student.course_type }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            {{ student.AcademicEmail }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Matérias Cursantes</h3>
            {% for discipline in student.stu_offerings.all %}
                <div class="col-md-6">
                    <a href="{{ discipline.url }}">
                        <div class="thumbnail">
                            <h4>
                                {{ discipline }}
                            </h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2> This is a student page but no student was found </h2>
    {% endif %}
{% endblock %}
