{% extends "stalkeador/header.html" %}

{% block content %}
    {% if student %}
        <div class='row column'>
            <h3 class="text-center"> {{ student.name }} </h3>
            <table>
                <caption>Informações do Aluno</caption>
                <thead>
                    <tr>
                        <th width="150"></th>
                        <th width="150"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            RA
                        </td>
                        <td>
                            {{ student.ra }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Curso
                        </td>
                        <td>
                            {{ student.school }} {{ student.course_type }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            {{ student.AcademicEmail }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Matérias Cursantes
                        </td>
                        <td>
                            <ul class="vertical menu">
                                {% for discipline in student.disciplines.all %}
                                    <a href="{{discipline.url}}"><li>{{ discipline }}</li></a>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <h2> This is a student page but no student was found </h2>
    {% endif %}
{% endblock %}
