{% extends "stalkeador/header.html" %}

{% block content %}
    <div class="row column">
        {% if subject %}
        <h3 class="text-center"> {{ subject }} </h3>
        <table>
            <caption>Informações da Disciplina</caption>
            <thead>
                <tr>
                    <th width="150"></th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        {{ subject.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sigla
                    </td>
                    <td>
                        {{ subject.code }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Nivel
                    </td>
                    <td>
                        {{ subject.type }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Descrição
                    </td>
                    <td>
                        {{ subject.descryption }}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        {% if offerings %}
        {% for offering in offerings %}
            <a href="{{ offering.url }}">
            <div class="callout small">
                {{offering}}
            </div>
            </a>
        {% endfor %}
        {% else %}
            <h2> This is a subject page, but no offering was found</h2>
        {% endif %}
    </div>
{% endblock %}
