{% extends "stalkeador/header.html" %}

{% block content %}
    {% if subject %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="text-center"> {{ subject }} </h3>
            <caption>Informações da Disciplina</caption>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        {{ subject.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sigla
                    </td>
                    <td>
                        {{ subject.code }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Nivel
                    </td>
                    <td>
                        {{ subject.type }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Descrição
                    </td>
                    <td>
                        {{ subject.descryption }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

        {% if offerings %}
        <div>
            {% for offering in offerings %}
                <div class="col-md-6">
                    <div class="thumbnail">
                        <h4>
                            <a href="{{ offering.url }}">
                                {{offering}}
                            </a>
                        </h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <h2> This is a subject page, but no offering was found</h2>
        {% endif %}
    </div>
{% endblock %}
