{% extends "stalkeador/header.html" %}

{% block content %}
    {% if teacher%}
    <h3 class="text-center">{{ teacher.name }}</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Informações do Professor</h4>
                <caption></caption>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                           Nome
                        </td>
                        <td>
                            {{ teacher.name }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <h2> This is a teacher page but no teacher was found </h2>
    {% endif %}
{% endblock %}
