{% extends "stalkeador/header.html" %}

{% block content %}
        <div class="col-md-12" >
            <a href="institutes">
                <div class="thumbnail">
                    <h4 class="text-center">
                        Atualizar institutos da Unicamp
                    </h4>
                </div>
            </a>
        </div>
        {% for institute in institutes %}
            <div class="col-md-6">
                <div class="thumbnail">
                    <h4>
                        <a href="disciplines/{{ institute.code }}">
                            {{ institute.code }}
                        </a>
                    </h4>
                </div>
            </div>
        {% endfor %}
{% endblock %}
